

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Boucles </span> </b></center>

#### Exercice 0
>On se propose de rÃ©soudre dans l'ensemble des entiers naturels l'inÃ©quation $2n(n+1)<100$.
En utilisant une boucle **While**, Ã©cris un programme qui renvoie les solutions entiÃ¨res de cette inÃ©quation.

In [5]:
n=0
while n*n+n-50 <0: 
                   print(n)
                   n+=1

0
1
2
3
4
5
6

#### Exercice 1
> En utilisant une boucle **For**, Ã©cris un programme qui calcule la somme des 30 premiers entiers naturels non nuls.

In [6]:

somme = 0
for i in  range(1,31): 
                       somme += i
print(" La somme des 30 premiers entiers naturels non nuls donne",somme)

 La somme des 30 premiers entiers naturels non nuls donne 465

#### Exercice 2
>Refais l'exercice 1 en utilisant une boucle **While**.

In [1]:
sume = 0
j=1
while j <=30 :
               sume+= j
               j+=1
print(" La somme des 30 premiers entiers naturels non nuls donne",sume)

 La somme des 30 premiers entiers naturels non nuls donne 465

#### Exercice 3
>En utilisant une boucle **For**, Ã©cris un programme qui calcule le produit des 9 premiers entiers naturels non nuls.

In [5]:
product = 1
for i in  range(1,10): 
                       product *= i
print(" Le produit  des 9 premiers entiers naturels non nuls donne",product)

 Le produit  des 9 premiers entiers naturels non nuls donne 362880

#### Exercice 4
> Refais l'exercice 3 en utilisant une boucle **While**.

In [7]:
prod = 1
j=1
while j <=9 :
               prod*= j
               j+=1
print(" Le produit des 9 premiers entiers naturels non nuls donne",prod)

 Le produit des 9 premiers entiers naturels non nuls donne 362880

#### Exercice 5 
>Ã‰cris un programme qui demande Ã  l'utilisateur de saisir un nombre n et qui affiche tous les nombres pairs de $1$ Ã  $n$ en utilisant la boucle **For**.

In [11]:
n = int(input("Entrer un nombre "))
for i in range(2,n+1) :
                        if i%2 ==0 :
                                     print(i)

Entrer un nombre 15
2
4
6
8
10
12
14

#### Exercice 6
>Refais l'exercice 5 en utilisant la boucle **While**.

In [4]:
n = int(input("Entrer un nombre "))
i=1
while i<=n :
                        if i%2 ==0 :
                                     print(i)
                        i+=1

Entrer un nombre 45
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44

#### Exercice 7
>Ã‰cris un programme qui demande Ã  l'utilisateur de saisir un nombre n et qui affiche tous les nombres impairs de 1 Ã  n en utilisant la boucle **For**.

In [5]:
n = int(input("Entrer un nombre "))
for i in range(2,n+1) :
                        if i%2 !=0 :
                                     print(i)

Entrer un nombre 35
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35

#### Exercice 8
>Refais l'exercice 7 en utilisant la boucle **While**.

In [2]:
n = int(input("Entrer un nombre "))
i=1
while i<=n :
                        if i%2 !=0 :
                                     print(i)
                        i+=1

Entrer un nombre 4
1
3

#### Exercice 9
>Ã‰cris un programme qui demande Ã  l'utilisateur de saisir un nombre n et qui affiche sa table de multiplication  en utilisant la boucle **For**.

In [3]:
n=int(input("Entrer un nombre"))

for i in range(1,13):
                     print(n,"*",i,"=",n*i)

Entrer un nombre4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
4 * 11 = 44
4 * 12 = 48

#### Exercice 10
>Refais l'exercice 9 en utilisant la boucle **While**.

In [ ]:
n=int(input("Entrer un nombre"))
i=1
while i<=12 :
               print(n,"*",i,"=",n*i)
               i+=1

#### Exercice 11
>Ã‰cris un programme qui demande Ã  l'utilisateur d'entrer un nombre et de trouver tous ses diviseurs  en utilisant la boucle **For**.

In [4]:
n=int(input("Entrer un nombre"))

for i in range(1,n+1):
                      if n%i ==0 :
                                  print(i)

Entrer un nombre45
1
3
5
9
15
45

#### Exercice 12
>Ã‰cris un programme qui demande Ã  l'utilisateur d'entrer un entier naturel n et de trouver tous sa factorielle n!  en utilisant la boucle **For**. On rappelle que $n!=n*(n-1)*(n-2)...3*2*1$.

In [10]:
n = int(input("Entrer un entier naturel"))
fact = 1
if(n!=0):
          for i in  range(1,n+1): 
                                  fact *= i
print(" La factorielle de",n,"est",fact)

Entrer un entier naturel0
 La factorielle de 0 est 1

#### Exercice 13
>Ã‰cris un programme qui demande Ã  l'utilisateur d'entrer deux entiers naturels (plus petits que 15) et de trouver leur plus petit commun multiple utilisant la boucle **For**.

#### Exercice 14
>Ã‰cris un programme pour afficher la sÃ©rie de Fibonacci jusqu'Ã  n termes en utilisant une boucle.

In [1]:
n = int(input("Entrez un entier naturel : "))
Fib =0

#for i in range(0,n+1) :
                       # if i=0 || i=1 :

Entrez un entier naturel4

#### Exercice 15
>Ã‰cris, en utilisant une boucle **For**, un programme pour afficher 5 fois de suite le message "Python est un trÃ¨s bon langage de programmation".

In [3]:
string="Python est un trÃ¨s bon langage de programmation"
for i in range(1,6) :
                      print(string)

Python est un trÃ¨s bon langage de programmation
Python est un trÃ¨s bon langage de programmation
Python est un trÃ¨s bon langage de programmation
Python est un trÃ¨s bon langage de programmation
Python est un trÃ¨s bon langage de programmation

#### Exercice 16
>Ã‰cris, en utilisant une boucle **While**, un programme pour afficher 7 fois de suite le message "A cette allure je finirai par tout abandonner pour la programmation".

In [2]:
string="A cette allure je finirai par tout abandonner pour la programmation"
i=1
while i<=7 :
             print(string)
             i+=1

A cette allure je finirai par tout abandonner pour la programmation
A cette allure je finirai par tout abandonner pour la programmation
A cette allure je finirai par tout abandonner pour la programmation
A cette allure je finirai par tout abandonner pour la programmation
A cette allure je finirai par tout abandonner pour la programmation
A cette allure je finirai par tout abandonner pour la programmation
A cette allure je finirai par tout abandonner pour la programmation

#### Exercice 17
>Ã‰cris, en utilisant une boucle **For**, un programme qui compte Ã  l'envers de 10 Ã  0 puis qui affiche le message "Partez".

In [7]:
for i in [10,9,9,7,6,5,4,3,2,1,0] :
                                    print(i)
print("Partez")

10
9
9
7
6
5
4
3
2
1
0
Partez

#### Exercice 18
>Ã‰cris, en utilisant une boucle **For**, un programme qui affiche chaque Ã©lÃ©ment d'une chaine de caractÃ¨re.

In [4]:
string = "Une chaine de caractÃ¨res"
for letter in string :
                       print(letter)

U
n
e

c
h
a
i
n
e

d
e

c
a
r
a
c
t
Ã¨
r
e
s

#### Exercice 19
>Ã‰cris, en utilisant une boucle **For**, un programme qui compte Ã  l'envers de 10 Ã  0 puis qui affiche le message "Partez".

In [6]:
for i in [10,9,9,7,6,5,4,3,2,1,0] :
                                    print(i)
print("Partez")

10
9
9
7
6
5
4
3
2
1
0
Partez

<center> <b> <span style="color:orange;"> ðŸŽ‰ FÃ‰LICITATIONS ! ðŸŽ‰ </span> </b></center>