
### <center> <b> <span style="color:blue;"> Travaux Pratiques: Variables, Types & Opérations </span> </b></center>

**Exercise 00:**  
>

  
> 1. Déclarez une variable `prenom` et attribuez-lui une valeur.
  > 2. Déclarez une variable `nom` et attribuez-lui une valeur.
  > 3. Déclarez une variable `prenom_nom` et attribuez-lui une valeur.
  > 4. Déclarez une variable `pays` et attribuez-lui une valeur.
  > 5. Déclarez une variable `ville` et attribuez-lui une valeur.
  > 6. Déclarez une variable `age` et attribuez-lui une valeur.
  > 7. Déclarez une variable `annee` et attribuez-lui une valeur.
  > 8. Déclarez une variable `est_marie` et attribuez-lui une valeur.
  > 9. Déclarez une variable `est_vrai` et attribuez-lui une valeur.

> Pour chacune des variables ci-dessus, affichez la valeur qu'elle contient à l'aide de la fonction `print()`.

In [22]:
#1
prenom ="Ezéchiel"

#2
nom = "ADEDE"

#3
prenom_nom = "Perez BROL"

#4
pays ="Bénin"

#5
ville = "Cotonou"

#6
age = 19

#7
annee = 2022

#8
est_marie = False 

#9
est_vrai = True


print(prenom)

print(nom)

print(prenom_nom)
print(pays) 
print(ville )
print(age)
print(annee) 
print(est_marie)

print(est_vrai )

Ezéchiel
ADEDE
Perez BROL
Bénin
Cotonou
19
2022
False
True

**Exercise 01:** 
> Vérifiez le type de données de toutes vos variables à l'aide de la fonction intégrée `type()`.**

In [33]:
type(prenom)
type(nom)
type(prenom_nom)
type(ville)
type(age)
type (annee)
type(est_marie)
type(est_vrai)
# Décommenter pour avoir le type

bool

**Exercise 02:** 
> Calculez la valeur de $y$ ($y = x^2 + 6x + 9$). Essayez d'utiliser différentes valeurs de $x$ et déterminez à quelle valeur de $x$ $y$ sera égal à 0.**

In [25]:
x = 0
y = x*x +6*x+9
print(y)

x = 1
y = x*x +6*x+9
print(y)


x = 2
y = x*x +6*x+9
print(y)


x = 3
y = x*x +6*x+9
print(y)

x = -3
y = x*x +6*x+9
print(y)

print("y = 0 pour x = -3")

9
16
25
36
0
y = 0 pour x = -3

**Exercise 03:**    

     1. Déclarez votre âge sous forme de variable entière
     2. Déclarez votre taille en tant que variable flottante
     3. Déclarez une variable qui stocke la base et la hauteur d'un triangle. Calculez l'aire de ce triangle (aire = 0,5 x b x h).

In [26]:
#1
pige = 19

#2 
taille = 1.75

#3
b = 5
h = 6
aire = 0.5*b*h

print(aire)

15.0

## *Astuce : recevoir les entrées de l'utilisateur *
**Pour recevoir une entrée de l'utilisateur, nous utilisons `input()`.**.

**Exemple**
Recevez deux nombres en entrée de l'utilisateur et calculez leur puissance :
```python
base = input("Entrez une base : ")
exposant = input("Entrez un exposant : ")
resultat = float(base) ** float(exposant)
print(f "{base} à la puissance {exposant} = {résultat}")
```

**Exercise 04:** 
> **Write a small code that asks the user to enter the side $a$, the side $b$ and the side $c$ of a triangle. Calculate the perimeter of the triangle (perimeter = a + b + c).**

In [27]:
a = input("Inter the side a")
a = float(a)

b = input("Inter the side b")
b = float(b)

c = input("Inter the side c")
c = float(c)
perimeter = a+b+c

print(perimeter)

Inter the side a4
Inter the side b4
Inter the side c5
13.0

**Exercise 05:** 
> **Obtenez la longueur et la largeur d'un rectangle à l'aide de l'invite. Calculer sa `superficie` et son `perimetre`.**

In [31]:
length = input("Entrer la longueur du rectangle : ")
length = float (length)

width =input ("Entrer la largeur du rectangle : ")
width = float (width)
area = length * width
perimeter = length + width 

print("superficie =",area)
print("périmètre =",perimeter)

Entrer la longueur du rectangle : 8
Entrer la largeur du rectangle : 9
superficie = 72.0
périmètre = 17.0

**Exercice 06:** 
> **Obtenez le rayon d'un cercle en utilisant l'invite. Calculez l'aire (aire = pi x r x r) et la circonférence (c = 2 x pi x r) où pi = 3,14.**

In [34]:
radius = input("Entrer la rayon de votre cercle : ")
radius = float(radius)

area = radius*radius*3.14
circumference = 2*3.14*radius


print("aire =",area)
print("circonférence =",circumference)

Entrer la rayon de votre cercle : 8
aire = 200.96
circonférence = 50.24

**Exercice 07:**
> **Calculez la pente, l'ordonnée à l'origine en x et l'ordonnée à l'origine en $y$ de $y = 2x -2$.**

In [7]:

pente = 2
print("La pente est "+str(pente))

x=0
y = 2*x-2


print("L'ordonnée à l'origine  est  "+str(y))

y =0
x =0.5*(y+2)

print("L'abscisse  à l'origine  est  "+str(x))

La pente est 2
L'ordonnée à l'origine  est  -2
L'abscisse  à l'origine  est  1.0

**Exercice 08:** 
> **Rédigez un script qui demande à l'utilisateur d'entrer les heures et le taux horaire. Calculez la rémunération de la personne ?**

In [35]:
heures = input("Entrez les heures : ")
heures = int (heures)
taux_horaire = input("Entrez le taux horaire : ")
taux_horaire = float(taux_horaire)
remuneration = heures * taux_horaire

print("Rémunération : " +str(remuneration))

Entrez les heures : 40
Entrez le taux horaire : 1500
Rémunération : 60000.0

**Exercice 09:** 
> **Écrivez un script qui demande à l'utilisateur d'entrer le nombre d'années. Calculez le nombre de secondes qu'une personne peut vivre. Supposons qu'une personne puisse vivre cent ans.**

In [37]:
number_of_years = input("Entrez le nombre d'années : ")
number_of_years = int(number_of_years)
seconds = number_of_years*365*24*3600

print("Nombre de secondes : "+str(seconds))

Entrez le nombre d'années : 80
Nombre de secondes : 2522880000

**Exercice 10:** 
> **Écrivez un script Python qui affiche le tableau suivant**

    1 1 1 1 1
    
    2 1 2 4 8
    
    3 1 3 9 27
    
    4 1 4 16 64
    
    5 1 5 25 125

In [7]:
print(5*"1 ")
print("\n")
print("2 1 2 4 8")
print("\n")
print("3 1 3 9 27")
print("\n")
print("4 1 4 16 64")
print("\n")
print("5 1 5 25 125")
print("\n")

1 1 1 1 1


2 1 2 4 8


3 1 3 9 27


4 1 4 16 64


5 1 5 25 125

**Exercise 11:** 
>**Attribuez aux variables `temps` et `distance` les valeurs $6.892$ et $19.7$. Calculer et afficher la valeur de la vitesse. Améliorer l'affichage en imposant un chiffre après la virgule.**

In [10]:
temps = 6.892
distance = 19.7
vitesse = distance/temps
print(vitesse)

print("vitesse =" ,vitesse)

print("\n vitesse = {:.1f} ".format(vitesse))

2.8583865351131745
vitesse = 2.8583865351131745

 vitesse = 2.9 m/s

**Exercice 12:** 
> **Écrire un programme qui, à partir de la saisie d’un rayon et d’une hauteur, calcule levolume d’un cône droit.**

In [66]:
radius = input("Entrez le rayon")
height = input("Entrez la hauteur")

radius = float(radius)
height = float(height)

capacity =(1/3) * 3.14*radius*radius*height

print(capacity)

Entrez le rayon4
Entrez la hauteur5
83.73333333333333

**Exercise 13:** 
> **L'utilisateur donne un entier positif et le programme annonce combien de fois de suite cet entier est divisible par 2.**

In [41]:

n = int (input("Entrez un nombre : "))

b=bin(n) #Pour convertir n en binaire

nb_fois=len(b)-3
print(str(n)+" est divisible "+str(nb_fois)+" de suite par 2")

Entrez un nombre : 7
7 est divisible 2 de suite par 2

**Exercise 14:** 
>**L'utilisateur donne un nombre entier entre 2 et 12, le programme donne le nombre de façons de le faire en lançant deux dés.**

In [45]:
n=int(input("Entrer un entier entre 2 et 12"))
nb_facon = 0
print("On peut obtenir",n ,"de",nb_facon,"façon(s) en lançant deux dés")

Entrer un entier entre 2 et 1215
On peut obtenir 15 de 0 façon(s) en lançant deux dés

**Exercice 15:** 
> **Utilisez la fonction d'entrée intégrée `input()` pour obtenir le `_prénom_`, le `_nom_`, le `_pays_d_origine` et l'`_age_` d'un utilisateur et stockez la valeur dans les noms des variables correspondantes.**

In [1]:
_prénom_=input("Entrer votre prénom : ")
_nom_=input("Entrer votre nom : ")
_pays_d_origine_=input("Entrer votre pays d'origine : ")
_age_=input("Entrer votre age : ")


_prénom_=str(_prénom_)
_nom_=str(_prénom_)
_pays_d_origine_=str(_pays_d_origine_)
_age_=int(_age_)

Entrer votre prénom : Ezéchiel
Entrer votre nom : ADEDE
Entrer votre pays d'origine : Bénin
Entrer votre age : 19

**Exercice 16:** 

**Déclarer $5$ comme `num_one` et $4$ comme `num_two`**

   1. Additionner `num_one` et `num_two` et affecter la valeur à une variable `totale`.
   2. Soustraire `num_two` de `num_one` et affecter la valeur à une variable `diff`.
   3. Multipliez le `num_one` et le `num_two` et attribuez la valeur à une variable `produit`.
   4. Divisez le `num_one` par le `num_two` et attribuez la valeur à une variable `division`.
   5. Calculez `num_one` à la puissance de `num_two` et attribuez la valeur à une variable `exp`.

In [3]:
num_one = 5
num_two = 4
#1
totale = num_one + num_two 

#2
diff = num_one - num_two 

#3
produit = num_one/num_two 

#4
division = num_one/num_two

#5
exp = num_one**num_two

<center> <b> <span style="color:orange;"> 🎉 FÉLICITATIONS! 🎉 </span> </b></center>