

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Objets it√©rables ou conteneurs</span> </b></center>

###  <center> <b> <span style="color:blue;"> Listes </span> </b></center>

#### **Exercice 00:** 
>**D√©clarer une liste vide.**

In [1]:
x=list()
print(x)

[]

#### **Exercice 01:** 
>**D√©clarer une liste de plus de 5 √©l√©ments.**

In [3]:
x=list(range(0,7))
print(x)

[0, 1, 2, 3, 4, 5, 6]

#### **Exercice 02:** 
>**Trouver la longueur de votre liste.**

In [ ]:
len(x)

7

#### **Exercice 03:** 
>**Obtenez le premier √©l√©ment, l'√©l√©ment central et le dernier √©l√©ment de la liste.**

In [ ]:
print('',x[0])
print('',x[((len(x)-1)//2)])
print('',x[-1])

 0
 3
 6

#### **Exercice 04:** 
>**D√©clarez une liste appel√©e mixed_data_types, mettez votre (nom, √¢ge, taille, √©tat civil, adresse).**

In [10]:
nom = "ADEDE"

age = 19
taille = 1.75
etat_civil = "B√©nin"
adresse = "Dangbo"

mixed_data_types = [nom,prenom,age,etat_civil,adresse]
print("Nom :",mixed_data_types[0])
print("√Çge :",mixed_data_types[1])
print("Taille :",mixed_data_types[2])
print("Etat civil :",mixed_data_types[3])
print("Adresse :",mixed_data_types[-1])

Nom : ADEDE
√Çge : Ez√©chiel
Taille : 19
Etat civil : B√©nin
Adresse : Dangbo

#### **Exercice 05:** 

    1. D√©clarez une variable liste appel√©e it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

    2. Imprimez la liste √† l'aide de print()

    3. Imprimez le nombre d'entreprises dans la liste

    4. Imprimez la premi√®re, la moyenne et la derni√®re entreprise

    5. Imprimez la liste apr√®s avoir modifi√© l'une des entreprises.

    6. Ajout d'une entreprise informatique √† it_companies

    7. Ins√©rer une entreprise informatique au milieu de la liste des entreprises

    8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

    9. Joignez les it_companies avec une cha√Æne '# ; '.

    10. V√©rifier si une certaine entreprise existe dans la liste it_companies.

    11. Trier la liste en utilisant la m√©thode sort()

    12. Inversez la liste par ordre d√©croissant √† l'aide de la m√©thode reverse().

    13. Supprimez les 3 premi√®res entreprises de la liste.

    14. Supprimez les 3 derni√®res entreprises de la liste.

    15. Supprimez la ou les entreprises informatiques du milieu de la liste.

    16. Supprimez la premi√®re entreprise informatique de la liste

    17. Supprimez la ou les entreprises informatiques du milieu de la liste.

    18. Retirer la derni√®re entreprise informatique de la liste

    19. Supprimez toutes les entreprises informatiques de la liste

    20. D√©truire la liste des entreprises informatiques

In [85]:
#1
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
#2
print(it_companies)
#3
print("\nNombre d'entreprises :",len(it_companies))
#4
print("\nPremi√®re entreprise de la liste :",it_companies[0])
print("\nEntreprise moyenne de la liste de la liste :",it_companies[len(it_companies)//2])
print("\nDerni√®re entreprise de la liste :",it_companies[-1])
#5
#Modification d'une entreprise
it_companies[4]="Tesla" # IBM chang√© en Tesla
#Affichage de la liste des entreprise
print("\nListe apr√®s modification\n",it_companies)

#6 Ajout d'une entreprise informatique √† it_companies
it_companies.append("Ding")
print("\nListe apr√®s ajout\n",it_companies)

#7 Ins√©rer une entreprise informatique au milieu de la liste des entreprises
it_companies.insert (len(it_companies)//2,"Djin")
print("\nListe apr√®s insertion au milieu\n",it_companies)

#8 Changez le nom d'une des it_companies en majuscule (sauf IBM !)
it_companies[0].upper()
print("\nListe apr√®s convertion en majuscule\n",it_companies)

#9 Joignez les it_companies avec une cha√Æne '# ; '.

#10 V√©rifier si une certaine entreprise existe dans la liste it_companies.
exist = "Google" in it_companies
print("\nGoogle est dans la liste :",exist)

#11 Trier la liste en utilisant la m√©thode sort()
it_companies.sort();
print("\nListe apr√®s le  tri\n",it_companies)

#12 Inversez la liste par ordre d√©croissant √† l'aide de la m√©thode reverse().
it_companies.reverse()
print("\nListe apr√®s invertion\n",it_companies)

#13 Supprimez les 3 premi√®res entreprises de la liste.
it_companies.remove(it_companies[0]);
it_companies.remove(it_companies[0]);
it_companies.remove(it_companies[0]);
print("\nListe apr√®s suppression des trois premi√®res entreprises\n",it_companies)


#14 Supprimez les 3 derni√®res entreprises de la liste.

it_companies.remove(it_companies[-1]);
it_companies.remove(it_companies[-1]);
it_companies.remove(it_companies[-1]);
print("\nListe apr√®s suppression des trois derni√®res entreprises\n",it_companies)

#15 Supprimez la ou les entreprises informatiques du milieu de la liste.

it_companies.remove(it_companies[len(it_companies)//2]);
print("\nListe apr√®s suppression de l'entreprise au milieu de la liste entreprises\n",it_companies)

#16 Supprimez la premi√®re entreprise informatique de la liste
it_companies.remove(it_companies[0]);
print("\nListe apr√®s suppression de la premi√®re entreprise\n",it_companies)

#17 Supprimez la ou les entreprises informatiques du milieu de la liste.

it_companies.remove(it_companies[len(it_companies)//2]);
print("\nListe apr√®s suppression de l'entreprise au milieu de la liste entreprises\n",it_companies)


it_companies.append("Telegram");
it_companies.append("Youtube");




#18 Retirer la derni√®re entreprise informatique de la liste

it_companies.pop();
print("\nListe apr√®s suppression de la derni√®re entreprise de la liste entreprises\n",it_companies)


#19 Supprimez toutes les entreprises informatiques de la liste

it_companies.clear();
print("\nListe apr√®s suppression de toutes les entreprises de la liste entreprises\n",it_companies)

#20 D√©truire la liste des entreprises informatiques
del it_companies

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

Nombre d'entreprises : 7

Premi√®re entreprise de la liste : Facebook

Entreprise moyenne de la liste de la liste : Apple

Derni√®re entreprise de la liste : Amazon

Liste apr√®s modification
 ['Facebook', 'Google', 'Microsoft', 'Apple', 'Tesla', 'Oracle', 'Amazon']

Liste apr√®s ajout
 ['Facebook', 'Google', 'Microsoft', 'Apple', 'Tesla', 'Oracle', 'Amazon', 'Ding']

Liste apr√®s insertion au milieu
 ['Facebook', 'Google', 'Microsoft', 'Apple', 'Djin', 'Tesla', 'Oracle', 'Amazon', 'Ding']

Liste apr√®s convertion en majuscule
 ['Facebook', 'Google', 'Microsoft', 'Apple', 'Djin', 'Tesla', 'Oracle', 'Amazon', 'Ding']

Google est dans la liste : True

Liste apr√®s le  tri
 ['Amazon', 'Apple', 'Ding', 'Djin', 'Facebook', 'Google', 'Microsoft', 'Oracle', 'Tesla']

Liste apr√®s invertion
 ['Tesla', 'Oracle', 'Microsoft', 'Google', 'Facebook', 'Djin', 'Ding', 'Apple', 'Amazon']

Liste apr√®s suppression des trois premi√®res entreprises
 ['Google', 'Facebook', 'Djin', 'Ding', 'Apple', 'Amazon']

Liste apr√®s suppression des trois derni√®res entreprises
 ['Google', 'Facebook', 'Djin']

Liste apr√®s suppression de l'entreprise au milieu de la liste entreprises
 ['Google', 'Djin']

Liste apr√®s suppression de la premi√®re entreprise
 ['Djin']

Liste apr√®s suppression de l'entreprise au milieu de la liste entreprises
 []

Liste apr√®s suppression de la derni√®re entreprise de la liste entreprises
 ['Telegram']

Liste apr√®s suppression de toutes les entreprises de la liste entreprises
 []

#### **Exercice 06:** 
**Joindre les listes suivantes :**
     
         front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
         back_end = ['Node','Express', 'MongoDB']

In [53]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
back_end = ['Node','Express', 'MongoDB']
jo =front_end+back_end
print('',jo)

 ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

#### **Exercice 07:** 
Voici une liste de 10 √¢ges d'√©tudiants :

         ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
         
 
    1. Trier la liste et trouver l'√¢ge minimum et maximum.
    2. Ajoutez √† nouveau l'√¢ge minimum et l'√¢ge maximum √† la liste.
    3. Trouvez l'√¢ge m√©dian (un √©l√©ment du milieu ou deux √©l√©ments du milieu divis√©s par deux).
    4. Trouvez l'√¢ge moyen (somme de tous les √©l√©ments divis√©e par leur nombre).
    4. Trouver l'intervalle des √¢ges (max moins min)
    5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la m√©thode abs().

In [57]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
#1  Trier la liste et trouver l'√¢ge minimum et maximum
ages.sort() #Tri de la liste
print("min={},max={}".format(min(ages),max(ages))) # min et max
#2 Ajoutez √† nouveau l'√¢ge minimum et l'√¢ge maximum √† la liste.
ages.extend([min(ages),max(ages)])

ages=ages+[min(ages),max(ages)]

min=19,max=26

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26, 19, 26]

In [64]:
#Suite
#3 Trouvez l'√¢ge m√©dian (un √©l√©ment du milieu ou deux √©l√©ments du milieu divis√©s par deux).
ages[(len(ages)//2)]

#4 Trouver l'intervalle des √¢ges (max moins min)
ages



#4 Trouvez l'√¢ge moyen (somme de tous les √©l√©ments divis√©e par leur nombre).
sum(ages)/len(ages)

#5 Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la m√©thode abs()

moy=max(ages)-min(ages)

abs(min(ages)-moy)>abs(max(ages)-moy)

False

###  <center> <b> <span style="color:blue;"> Dictionnaires </span> </b></center>


1. Cr√©er un dictionnaire vide appel√© `dog`
2. Ajoute le nom, la couleur, la race, les pattes, l'√¢ge au dictionnaire dog.
3. Cr√©ez un dictionnaire student et ajoutez le pr√©nom, le nom, le sexe, l'√¢ge, l'√©tat civil, les comp√©tences, le pays, la ville et l'adresse comme cl√©s pour le dictionnaire.
4. Obtenez la longueur du dictionnaire student
5. R√©cup√©rez la valeur des comp√©tences et v√©rifiez le type de donn√©es, il doit s'agir d'une liste.
6. Modifiez les valeurs des comp√©tences en ajoutant une ou deux comp√©tences.
7. Obtenez les cl√©s du dictionnaire sous forme de liste
8. Obtenir les valeurs du dictionnaire sous forme de liste
9. Transformer le dictionnaire en une liste de tuples en utilisant la m√©thode items()
10. Supprimer un des √©l√©ments du dictionnaire
11. Supprimer un des dictionnaires

In [65]:
#1. Cr√©er un dictionnaire vide appel√© `dog`
dog=dict()
#2. Ajoute le nom, la couleur, la race, les pattes, l'√¢ge au dictionnaire dog.
dog['nom'],dog['race'],dog['pattes'],dog['age']='chat','carni',4,6

dog

{'nom': 'chat', 'race': 'carni', 'pattes': 4, 'age': 6}

In [1]:
# 3. Cr√©ez un dictionnaire student et ajoutez le pr√©nom, le nom, le sexe, l'√¢ge, l'√©tat civil,
#les comp√©tences, le pays, la ville et l'adresse comme cl√©s pour le dictionnaire.
student={'prenom':'chadrack','nom':'bahati','sexe':'M','etat civil':'celibataire','competances':['maths','politique','ecriture'],'pays':'RDC','adresse':'Mbour'}

#4 4. Obtenez la longueur du dictionnaire student
len(student)
#5. R√©cup√©rez la valeur des comp√©tences et v√©rifiez le type de donn√©es, il doit s'agir d'une liste.
type(student['competances'])
#6. Modifiez les valeurs des comp√©tences en ajoutant une ou deux comp√©tences.
student['competances'].extend(['sapologie','chretien'])
student['competances']

#7. Obtenez les cl√©s du dictionnaire sous forme de liste
student.keys()
#8. Obtenir les valeurs du dictionnaire sous forme de liste
student.values()
#9. Transformer le dictionnaire en une liste de tuples en utilisant la m√©thode items()
student.items()

#10 Supprimer un des √©l√©ments du dictionnaire"
#del dog[0]


#11. Supprimer un des dictionnaires
student.clear()

<center> <b> <span style="color:orange;"> üéâ F√âLICITATIONS !üéâ </span> </b></center>