

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Objets itérables ou conteneurs</span> </b></center>

###  <center> <b> <span style="color:blue;"> Listes </span> </b></center>

#### **Exercice 00:** 
>**Déclarer une liste vide.**

In [1]:
x=list()
print(x)

[]

#### **Exercice 01:** 
>**Déclarer une liste de plus de 5 éléments.**

In [3]:
x=list(range(0,7))
print(x)

[0, 1, 2, 3, 4, 5, 6]

#### **Exercice 02:** 
>**Trouver la longueur de votre liste.**

In [ ]:
len(x)

7

#### **Exercice 03:** 
>**Obtenez le premier élément, l'élément central et le dernier élément de la liste.**

In [ ]:
print('',x[0])
print('',x[((len(x)-1)//2)])
print('',x[-1])

 0
 3
 6

#### **Exercice 04:** 
>**Déclarez une liste appelée mixed_data_types, mettez votre (nom, âge, taille, état civil, adresse).**

In [10]:
nom = "ADEDE"

age = 19
taille = 1.75
etat_civil = "Bénin"
adresse = "Dangbo"

mixed_data_types = [nom,prenom,age,etat_civil,adresse]
print("Nom :",mixed_data_types[0])
print("Âge :",mixed_data_types[1])
print("Taille :",mixed_data_types[2])
print("Etat civil :",mixed_data_types[3])
print("Adresse :",mixed_data_types[-1])

Nom : ADEDE
Âge : Ezéchiel
Taille : 19
Etat civil : Bénin
Adresse : Dangbo

#### **Exercice 05:** 

    1. Déclarez une variable liste appelée it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

    2. Imprimez la liste à l'aide de print()

    3. Imprimez le nombre d'entreprises dans la liste

    4. Imprimez la première, la moyenne et la dernière entreprise

    5. Imprimez la liste après avoir modifié l'une des entreprises.

    6. Ajout d'une entreprise informatique à it_companies

    7. Insérer une entreprise informatique au milieu de la liste des entreprises

    8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

    9. Joignez les it_companies avec une chaîne '# ; '.

    10. Vérifier si une certaine entreprise existe dans la liste it_companies.

    11. Trier la liste en utilisant la méthode sort()

    12. Inversez la liste par ordre décroissant à l'aide de la méthode reverse().

    13. Supprimez les 3 premières entreprises de la liste.

    14. Supprimez les 3 dernières entreprises de la liste.

    15. Supprimez la ou les entreprises informatiques du milieu de la liste.

    16. Supprimez la première entreprise informatique de la liste

    17. Supprimez la ou les entreprises informatiques du milieu de la liste.

    18. Retirer la dernière entreprise informatique de la liste

    19. Supprimez toutes les entreprises informatiques de la liste

    20. Détruire la liste des entreprises informatiques

In [85]:
#1
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
#2
print(it_companies)
#3
print("\nNombre d'entreprises :",len(it_companies))
#4
print("\nPremière entreprise de la liste :",it_companies[0])
print("\nEntreprise moyenne de la liste de la liste :",it_companies[len(it_companies)//2])
print("\nDernière entreprise de la liste :",it_companies[-1])
#5
#Modification d'une entreprise
it_companies[4]="Tesla" # IBM changé en Tesla
#Affichage de la liste des entreprise
print("\nListe après modification\n",it_companies)

#6 Ajout d'une entreprise informatique à it_companies
it_companies.append("Ding")
print("\nListe après ajout\n",it_companies)

#7 Insérer une entreprise informatique au milieu de la liste des entreprises
it_companies.insert (len(it_companies)//2,"Djin")
print("\nListe après insertion au milieu\n",it_companies)

#8 Changez le nom d'une des it_companies en majuscule (sauf IBM !)
it_companies[0].upper()
print("\nListe après convertion en majuscule\n",it_companies)

#9 Joignez les it_companies avec une chaîne '# ; '.

#10 Vérifier si une certaine entreprise existe dans la liste it_companies.
exist = "Google" in it_companies
print("\nGoogle est dans la liste :",exist)

#11 Trier la liste en utilisant la méthode sort()
it_companies.sort();
print("\nListe après le  tri\n",it_companies)

#12 Inversez la liste par ordre décroissant à l'aide de la méthode reverse().
it_companies.reverse()
print("\nListe après invertion\n",it_companies)

#13 Supprimez les 3 premières entreprises de la liste.
it_companies.remove(it_companies[0]);
it_companies.remove(it_companies[0]);
it_companies.remove(it_companies[0]);
print("\nListe après suppression des trois premières entreprises\n",it_companies)


#14 Supprimez les 3 dernières entreprises de la liste.

it_companies.remove(it_companies[-1]);
it_companies.remove(it_companies[-1]);
it_companies.remove(it_companies[-1]);
print("\nListe après suppression des trois dernières entreprises\n",it_companies)

#15 Supprimez la ou les entreprises informatiques du milieu de la liste.

it_companies.remove(it_companies[len(it_companies)//2]);
print("\nListe après suppression de l'entreprise au milieu de la liste entreprises\n",it_companies)

#16 Supprimez la première entreprise informatique de la liste
it_companies.remove(it_companies[0]);
print("\nListe après suppression de la première entreprise\n",it_companies)

#17 Supprimez la ou les entreprises informatiques du milieu de la liste.

it_companies.remove(it_companies[len(it_companies)//2]);
print("\nListe après suppression de l'entreprise au milieu de la liste entreprises\n",it_companies)


it_companies.append("Telegram");
it_companies.append("Youtube");




#18 Retirer la dernière entreprise informatique de la liste

it_companies.pop();
print("\nListe après suppression de la dernière entreprise de la liste entreprises\n",it_companies)


#19 Supprimez toutes les entreprises informatiques de la liste

it_companies.clear();
print("\nListe après suppression de toutes les entreprises de la liste entreprises\n",it_companies)

#20 Détruire la liste des entreprises informatiques
del it_companies

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

Nombre d'entreprises : 7

Première entreprise de la liste : Facebook

Entreprise moyenne de la liste de la liste : Apple

Dernière entreprise de la liste : Amazon

Liste après modification
 ['Facebook', 'Google', 'Microsoft', 'Apple', 'Tesla', 'Oracle', 'Amazon']

Liste après ajout
 ['Facebook', 'Google', 'Microsoft', 'Apple', 'Tesla', 'Oracle', 'Amazon', 'Ding']

Liste après insertion au milieu
 ['Facebook', 'Google', 'Microsoft', 'Apple', 'Djin', 'Tesla', 'Oracle', 'Amazon', 'Ding']

Liste après convertion en majuscule
 ['Facebook', 'Google', 'Microsoft', 'Apple', 'Djin', 'Tesla', 'Oracle', 'Amazon', 'Ding']

Google est dans la liste : True

Liste après le  tri
 ['Amazon', 'Apple', 'Ding', 'Djin', 'Facebook', 'Google', 'Microsoft', 'Oracle', 'Tesla']

Liste après invertion
 ['Tesla', 'Oracle', 'Microsoft', 'Google', 'Facebook', 'Djin', 'Ding', 'Apple', 'Amazon']

Liste après suppression des trois premières entreprises
 ['Google', 'Facebook', 'Djin', 'Ding', 'Apple', 'Amazon']

Liste après suppression des trois dernières entreprises
 ['Google', 'Facebook', 'Djin']

Liste après suppression de l'entreprise au milieu de la liste entreprises
 ['Google', 'Djin']

Liste après suppression de la première entreprise
 ['Djin']

Liste après suppression de l'entreprise au milieu de la liste entreprises
 []

Liste après suppression de la dernière entreprise de la liste entreprises
 ['Telegram']

Liste après suppression de toutes les entreprises de la liste entreprises
 []

#### **Exercice 06:** 
**Joindre les listes suivantes :**
     
         front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
         back_end = ['Node','Express', 'MongoDB']

In [53]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
back_end = ['Node','Express', 'MongoDB']
jo =front_end+back_end
print('',jo)

 ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

#### **Exercice 07:** 
Voici une liste de 10 âges d'étudiants :

         ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
         
 
    1. Trier la liste et trouver l'âge minimum et maximum.
    2. Ajoutez à nouveau l'âge minimum et l'âge maximum à la liste.
    3. Trouvez l'âge médian (un élément du milieu ou deux éléments du milieu divisés par deux).
    4. Trouvez l'âge moyen (somme de tous les éléments divisée par leur nombre).
    4. Trouver l'intervalle des âges (max moins min)
    5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la méthode abs().

In [57]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
#1  Trier la liste et trouver l'âge minimum et maximum
ages.sort() #Tri de la liste
print("min={},max={}".format(min(ages),max(ages))) # min et max
#2 Ajoutez à nouveau l'âge minimum et l'âge maximum à la liste.
ages.extend([min(ages),max(ages)])

ages=ages+[min(ages),max(ages)]

min=19,max=26

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26, 19, 26]

In [64]:
#Suite
#3 Trouvez l'âge médian (un élément du milieu ou deux éléments du milieu divisés par deux).
ages[(len(ages)//2)]

#4 Trouver l'intervalle des âges (max moins min)
ages



#4 Trouvez l'âge moyen (somme de tous les éléments divisée par leur nombre).
sum(ages)/len(ages)

#5 Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la méthode abs()

moy=max(ages)-min(ages)

abs(min(ages)-moy)>abs(max(ages)-moy)

False

###  <center> <b> <span style="color:blue;"> Dictionnaires </span> </b></center>


1. Créer un dictionnaire vide appelé `dog`
2. Ajoute le nom, la couleur, la race, les pattes, l'âge au dictionnaire dog.
3. Créez un dictionnaire student et ajoutez le prénom, le nom, le sexe, l'âge, l'état civil, les compétences, le pays, la ville et l'adresse comme clés pour le dictionnaire.
4. Obtenez la longueur du dictionnaire student
5. Récupérez la valeur des compétences et vérifiez le type de données, il doit s'agir d'une liste.
6. Modifiez les valeurs des compétences en ajoutant une ou deux compétences.
7. Obtenez les clés du dictionnaire sous forme de liste
8. Obtenir les valeurs du dictionnaire sous forme de liste
9. Transformer le dictionnaire en une liste de tuples en utilisant la méthode items()
10. Supprimer un des éléments du dictionnaire
11. Supprimer un des dictionnaires

In [65]:
#1. Créer un dictionnaire vide appelé `dog`
dog=dict()
#2. Ajoute le nom, la couleur, la race, les pattes, l'âge au dictionnaire dog.
dog['nom'],dog['race'],dog['pattes'],dog['age']='chat','carni',4,6

dog

{'nom': 'chat', 'race': 'carni', 'pattes': 4, 'age': 6}

In [1]:
# 3. Créez un dictionnaire student et ajoutez le prénom, le nom, le sexe, l'âge, l'état civil,
#les compétences, le pays, la ville et l'adresse comme clés pour le dictionnaire.
student={'prenom':'chadrack','nom':'bahati','sexe':'M','etat civil':'celibataire','competances':['maths','politique','ecriture'],'pays':'RDC','adresse':'Mbour'}

#4 4. Obtenez la longueur du dictionnaire student
len(student)
#5. Récupérez la valeur des compétences et vérifiez le type de données, il doit s'agir d'une liste.
type(student['competances'])
#6. Modifiez les valeurs des compétences en ajoutant une ou deux compétences.
student['competances'].extend(['sapologie','chretien'])
student['competances']

#7. Obtenez les clés du dictionnaire sous forme de liste
student.keys()
#8. Obtenir les valeurs du dictionnaire sous forme de liste
student.values()
#9. Transformer le dictionnaire en une liste de tuples en utilisant la méthode items()
student.items()

#10 Supprimer un des éléments du dictionnaire"
#del dog[0]


#11. Supprimer un des dictionnaires
student.clear()

<center> <b> <span style="color:orange;"> 🎉 FÉLICITATIONS !🎉 </span> </b></center>