In [5]:
#1

n = int(input("Enter a natural number : ")) 
#i
somme = 0
for i in range(0, n) :
                       if (i%2 != 0): 
                                          somme+= (i+3)
                    
                

                
#ii
 
product = 1
for i in range(0, n) : 
                       if (i%2 == 0):
                                      product*= (i+3)
                    
                

print("For the first expression:",somme)
print("For the second expression:",product)

Enter a natural number : 3
For the first expression: 4
For the second expression: 15

In [11]:
#2
days=['Monday','Tuesday','Wednesday','Thursday','Friday','Satursday','Wednesday']
n=int(input("Enter the number of the day : "))
if(n in range(0,5)) :
                        print(days[n])
elif (n==5 or n==6) :
                        print("Weekend")
else                : 
                        print("Invalid day")

Enter the number of the day : 7
Invalid day

In [19]:
#3
months=['January','February','March','April','May','June','July','August','September','October','November','December']
class1= [0,2,4,6,7,9,11]
class2=[3,5,8,10]
n = int(input("Enter a number of month : "))
if n in class1 :
    print("This month contains 31 days")
elif n in class2 :
    print("This month contains 30 days")
elif n==1 :
    print("This month contains 28 days")
else :
    print("Invalid month")

Enter a number of month : 5
This month contains 30 days

In [24]:
#4

name ="Ezéchiel"
#First version
print("First version\n")
for i in range(1,5) :
    print(name)
#Second version
i=1
print("Second version\n")
while i<=4 :
    print(name)
    i+=1

First version

Ezéchiel
Ezéchiel
Ezéchiel
Ezéchiel
Second version

Ezéchiel
Ezéchiel
Ezéchiel
Ezéchiel

In [ ]:
#5

In [ ]:
#6

In [ ]:
#7

In [16]:
#8

#a
n= int(input("Enter a natural number : "))
#First version
somme =0
print("First version")
for i in range (0,n) :
    somme+= i*i
    
print("The sum of the square of the",n,"firsts natural number is equal to",somme)
    


#Second version
somme = 0
i=0
print("\nSecond version")
while i<n :
    somme+=i*i
    i+=1
print("The sum of the square of the",n,"firsts natural number is equal to",somme)    


#b

M= int(input("Enter a natural number : "))
#First version
somme =0
print("First version")
for i in range (1,M+1) :
                      somme+= i*i
                      if somme>=M :
                            break
print("The smalest natural number matching the giving equation is",i)                                
    

    


#Second version
somme = 0
i=0
print("\nSecond version")
while somme <M :
    i+=1
    somme+=i*i
    
print("The sum of the square of the",n,"firsts natural number is equal to",i)

Enter a natural number : 6
First version
The sum of the square of the 6 firsts natural number is equal to 55

Second version
The sum of the square of the 6 firsts natural number is equal to 55
Enter a natural number : 6
First version
The smalest natural number matching the giving equation is 3

Second version
The sum of the square of the 6 firsts natural number is equal to 3

In [18]:
#9
#a
n = int(input("Enter a natural number"))
print("The divisors of",n,"are : ")
for i in range(1,n+1):
    if n%i==0:
        print(i)

Enter a natural number45
The divisors of 45 are :
1
3
5
9
15
45

In [20]:
#10
n=int(input("Enter a natural number between 0 and 9 to display its multiplication table : "))
N=int(input("From 1 to what ? "))
for i in range(1,N+1):
    print(n,"*",i,"=",n*i)

Enter a natural number between 0 and 9 to display its multiplication table : 4
From 1 to what ? 12
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
4 * 11 = 44
4 * 12 = 48

In [21]:
#11
for i in range(0,40):
    if (i%3 ==0 or i%7 ==0 or i%11 ==0  ):
        print(i)

0
3
6
7
9
11
12
14
15
18
21
22
24
27
28
30
33
35
36
39

In [22]:
#12

In [23]:
#13

In [2]:
#14
x=-1
while  x not in range(0,10):
    
     x=int(input("Enter a natural number between 0 and 9 : "))
        
maxi=-1
while  maxi not in range(0,256):
    
     maxi=int(input("Enter a natural number between 0 and 255 : "))
for i in range (1,maxi+1):
    if i%x == 0:
         print(i)

Enter a natural number between 0 and 9 : 9
Enter a natural number between 0 and 255 : 50
9
18
27
36
45

In [4]:

x=float(input("Enter the x-coordinate : "))
y=float(input("Enter the y-coordinate : "))
point =[x,y]
if(point[0]==0 and point[1]==0):
      print("This point is  the origin")
        
elif(point[0]==0 or point[1]==0):
      print("This point is  on an axis")
elif(point[0]<0 and  point[1]>0):
      print("This point is  the first quadrant")
elif(point[0]>0 and point[1]>0):
      print("This point is  the second quadrant ")
elif(point[0]>0 and point[1]<0):
      print("This point is  the third quadrant ")
else :
      print("This point is  the fourth quadrant ")

Enter the x-coordinate : -10
Enter the y-coordinate : -10
This point is  the fourth quadrant